In [2]:
test_list = ['one','two','three','four']
for i in test_list:
    print(i)

one
two
three
four

In [6]:
a = [(1,2),(31,4),(5,6)]
for (first,last) in a:
    print(first*last)

2
124
30

In [14]:
marks = [10,11,12,13,14,15]

number = 0;

for mark in marks:
    number = number + 1
    if mark >= 12:
        print("%d 번학생은 합격"%number)
    elif mark >= 11:
        print("%d 번학생은 재시험"%number)
    else:
        print("%d 번 불합격"%number)

1 번 불합격
2 번학생은 재시험
3 번학생은 합격
4 번학생은 합격
5 번학생은 합격
6 번학생은 합격

In [47]:
# marks = [90,25,60,45,80]

# number = 0
# for mark in marks:
#     number = number +1
#     if mark < 60:
#         continue
#     print("%d번 학생 %d점으로합격" %(number,mark))

marks = [90,25,60,45,80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번학생 %d점으로 합격"%(number+1,marks[number]))
    
range(len(marks))

1번학생 90점으로 합격
3번학생 60점으로 합격
5번학생 80점으로 합격

range(0, 5)

In [38]:
add = 0
for i in range(1,11): # range(이상,미만)
    add = add + i
print(add)

55

In [43]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [50]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [54]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [56]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]